@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
  font-family: 'Quicksand', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-font {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* shared style  */
.hide {
  display: none;
}
.orange {
  color: rgb(254, 163, 1);
}
.sky_blue {
  color: rgb(1, 172, 253);
}
.aqua {
  color: rgb(5, 212, 223);
}
.purpol {
  color: rgb(93, 88, 239);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1158px;
  margin: 0 auto;
}
header {
  /* height: 4rem; */
  /* border: 2px solid rgb(254, 163, 1); */
  padding: 0.5rem 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rebeccapurple; */
}
header nav div img {
  /* width: 4rem;
  height: 3rem; */
  object-fit: contain;
}
header nav div h3 {
  color: rgb(17, 17, 17);
  font-size: 2em;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
header nav div,
ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header nav a {
  text-decoration: none;
  padding: 0 1.5rem;

  font-size: 1.25em;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_btn {
  width: 12rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 163, 1);
  border: none;
  border-radius: 0.75rem;
  color: rgb(255, 255, 255);

  font-size: 1.25em;
  font-weight: 600;
  line-height: 30px;
}
.nav_btn:hover {
  background-color: rgba(254, 161, 1, 0.572);
  cursor: pointer;
}

/* banner hero section  */
.hero_section {
  /* height: 29em; */
  border: 2px solid rgba(60, 179, 114, 0.509);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.hero_content {
  /* border: 2px solid rebeccapurple; */
  max-width: 40rem;

  min-height: 17rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero_content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.hero_content p {
  color: rgb(17, 17, 17);

  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0%;
  text-align: left;
}
.hero_content button {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 12px;

  background: rgb(17, 17, 17);
  border-radius: 0.75rem;
  padding: 0.75em 1em;
  width: fit-content;
}
.hero_content button:hover {
  cursor: pointer;
  background: rgba(17, 17, 17, 0.366);
}
.hero_image img {
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .hero_section {
    flex-direction: column-reverse;
  }
  .hero_content {
    align-items: center;
  }
  .hero_content h1 {
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0%;
    text-align: center;
  }
  .hero_content p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }
}
