* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1220px;
  margin: 0 auto;
}
header {
  /* height: 4rem; */
  /* border: 2px solid rgb(254, 163, 1); */
  padding: 0.5rem 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rebeccapurple; */
}
header nav div,
ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header nav div img {
  /* width: 4rem;
  height: 3rem; */
  object-fit: contain;
}
